.border {
  border-bottom: 1px solid black;
}

p {
  text-indent: 2rem;
}

li {
  list-style: none;
}

table {
  width: 100%;
}

.th1 {
  width: 80px;
}

.th2 {
  width: 80px;
}

.th3 {
  width: 150px;
}

.th4 {
  width: 40px;
}

.th5 {
  width: 800px;
}
